.cards {
    margin: 0 auto;
    margin-top: 2.5rem;
}

.page-content .divider .column-one{
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--cor-principal-3);
}

@media (min-width: 700px){
    .page-content .divider{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "column-one column-two";
    }
    
    .page-content .divider .column-one{
        grid-area: column-one;
        padding-right: 4rem;
        border-right: 1px solid var(--cor-principal-3);
        padding-bottom: 0;
        border-bottom: none;
    }
    
    .page-content .divider .column-two{
        grid-area: column-two;
        padding-left: 4rem;
        border-left: 1px solid var(--cor-principal-3);
    }

    .slce{
        margin-top: 9.5rem;
    }
    
}
