#page-landing #container{
    max-width: 100vw;
    height: 100vh;
}

.page-header .top-bar-container .logo-portal img{
    height: 5.8rem;
}

.page-header .top-bar-container .logo-sp img{
    height: 3.5rem;
}

.page-header .top-bar-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.page-header .header-content{
    width: 100%;
    margin: 0 auto;
}

.page-header .header-content .info{
    margin-bottom: 3.5rem;
}

.page-header .header-content .info h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

    max-width: 90%;
}

.page-header .header-content .info a p{
    font-size: 1.6rem;
}

.page-header .header-content .access-location a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-text-in-base);
    padding-left: 0.5rem;
    border-left: 7px solid;
    transition: opacity 0.2s;
}

.page-header .header-content .access-location a:hover{
    opacity: 0.5;
}

.page-header .header-content .access-location .entrar{
    margin-right: 4.8rem;
    border-left: 7px solid var(--cor-principal-3);
}

.page-header .header-content .access-location .cadastrar{
    margin-right: 4.8rem;
    border-left: 7px solid var(--cor-prindipal-4);
}

#page-landing main{
    margin: 0.5rem auto;
    width: 100%;
}

.page-image img{
    width: 100%;
    margin-top: 2rem;
}

.page-content{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 3.1rem;
}

.page-content p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.title-services{
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-services h2{
    color: var(--cor-principal-3);
    font-size: 1.6rem;
}

.services{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.services .cards .card-service{
    width: 26rem;
    height: 9rem;
    padding: 2rem 1.5rem;
    border: 2px solid var(--cor-principal-2);
    text-align: center;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #edf5fa;
}

.services .cards .card-service p{
    font-size: 1.5rem;
    color: var(--cor-principal-1);
}

.services .cards .card-1,
.services .cards .card-7,
.services .cards .card-9{
    border-left: 10px solid var(--cor-principal-3);
}

.services .cards .card-2{
    border-left: 10px solid var(--cor-principal-2);
}

.services .cards .card-3{
    border-left: 10px solid var(--cor-complementar-2);
}

.services .cards .card-4,
.services .cards .card-5{
    border-left: 10px solid var(--cor-principal-1);
}

.services .cards .card-6{
    border-left: 10px solid var(--cor-principal-5);
}

.services .cards .card-8{
    border-left: 10px solid var(--cor-complementar-4);
}

.more-services{
    display: block;
    width: 90%;
    padding: 1.3rem 0.5rem;
    border: 2px solid var(--cor-principal-2);
    text-align: center;
    justify-content: center;
    margin: 2.5rem auto;
    border-radius: 0.8rem;
    background-color: #edf5fa;
}

.more-services a{
    text-decoration: none;
}

.more-services a p{
    font-size: 1.2rem;
    color: var(--cor-principal-1);
}

.organizations {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    border-top: 1px solid var(--color-text-in-base);
    margin-top: 5rem;
}

.organizations img{
    width: 8rem;
}

#page-landing footer{
    margin: 0 auto;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    background-color: var(--color-text-in-base);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nada logo-portal logo-prodam";
}

footer .logo-white{
    width: 7rem;
    grid-area: logo-portal; 
    justify-self: center;
}

footer .prodam-white{
    width: 5.5rem;
    grid-area: logo-prodam;
    align-self: center;
    justify-self: flex-end;
    margin-right: 1rem;
}   


@media (min-width: 700px){

    .page-header{
        display: flex;
        flex-direction: column;
    }
    
    .page-header .top-bar-container .logo-portal img{
        height: 9.8rem;
    }
    
    .page-header .top-bar-container .logo-sp img{
        height: 7.4rem;
    }
    
    .page-header .top-bar-container{
        max-width: 1100px;
        width: 90%;
        margin-bottom: 2.5rem;
    }
    
    .page-header .header-content{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .page-header .header-content .info h2 {
        max-width: 420px;
        font-size: 2.3rem;
    }
    
    .page-header .header-content .info a p{
        font-size: 2.1rem;
    }

    .page-header .header-content .access-location a{
        font-size: 2.5rem;
    }

    #page-landing main{
        width: 90%;
    }

    .page-image img{
        margin-top: 0rem;
    }

    .page-content{
        margin-bottom: 6rem;
    }

    .page-content p{
        font-size: 2.1rem;
        max-width: 800px;
    }

    .title-services{
        margin-bottom: 3.4rem;
    }

    .title-services h2{
        font-size: 2.2rem;
    }

    .services{
        max-width: 90%;
        justify-content: start;
    }

    .cards {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "card-1 card-2 card-3"
        "card-4 card-5 card-6"
        "card-7 card-8 card-9";
        column-gap: 50px;
        row-gap: 50px;
    }

    .services .cards .card-service{
        width: 28.95rem;
        height: 14rem;
        padding: 2.8rem 2.1rem;
        margin-top: 0rem;
    }

    .services .cards .card-service p{
        font-size: 1.8rem;
    }

    .services .cards .card-1{
        grid-area: card-1;
    }

    .services .cards .card-2{
        grid-area: card-2;
    }

    .services .cards .card-3{
        grid-area: card-3;
    }

    .services .cards .card-4{
        grid-area: card-4;
    }

    .services .cards .card-5{
        grid-area: card-5;
    }

    .services .cards .card-6{
        grid-area: card-6;
    }

    .services .cards .card-7{
        grid-area: card-7;
    }

    .services .cards .card-8{
        grid-area: card-8;
    }

    .services .cards .card-9{
        grid-area: card-9;
    }

    .more-services{
        margin: 4rem auto;
    }

    .more-services a p{
        font-size: 2rem;
    }

    .organizations {
        padding-top: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 10rem;
    }

    .organizations img{
        width: 18rem;
    }

    footer .logo-white{
        width: 16rem;
    }

    footer .prodam-white{
        width: 14rem;
        margin-right: 2rem;
    }

    #page-landing footer{
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}