#container{
    max-width: 100vw;
    height: 100vh;
}

.page-header .top-bar-container .logo-portal img{
    height: 5.8rem;
}

.page-header .top-bar-container .logo-sp img{
    height: 3.5rem;
}

.page-header .top-bar-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.page-header .header-content{
    width: 100%;
    margin: 0 auto;
}

main{
    margin: 0.5rem auto;
    width: 100%;
}

.page-image img{
    width: 100%;
    margin-top: 2rem;
}

.title-page{
    margin: 2rem auto;
}

.title-page h2{
    color: var(--cor-principal-1);
    font-size: 1.8rem;
    font-weight: 400;
}

.page-content{
    text-align: justify;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
}

.page-content p{
    margin-top: 1.5rem;
}

.page-content .cards p{
    margin: 0;
}

li {
    list-style: none;
}

.cards{
    width: 26rem;
    height: 9rem;
    padding: 2rem 1.5rem;
    border: 2px solid var(--cor-principal-2);
    text-align: center;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #edf5fa;
    transition: background-color 0.2s;
}

.cards:hover{
    background-color: #d5e5ed;
}

.portal-licenciamento{
    display: block;
    border-left: 10px solid var(--cor-principal-5);
}

.sp-mais-facil{
    border-left: 10px solid var(--cor-principal-2);
}

.sei{
    border-left: 10px solid var(--cor-complementar-2);
}

.slce{
    border-left: 10px solid var(--cor-principal-1); 
}

main a{
    text-decoration: none;   
}

.cards p{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-principal-1);
}

.organizations {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--color-text-in-base);
    margin-top: 5rem;
}

.organizations img{
    width: 6rem;
}

#page-landing footer{
    margin: 0 auto;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer {
    background-color: var(--color-text-in-base);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nada logo-portal logo-prodam";
}

footer .logo-white{
    width: 7rem;
    grid-area: logo-portal; 
    justify-self: center;
}

footer .prodam-white{
    width: 5.5rem;
    grid-area: logo-prodam;
    align-self: center;
    justify-self: flex-end;
    margin-right: 1rem;
}   

@media (min-width: 700px){
    .page-header{
        display: flex;
        flex-direction: column;
    }
    
    .page-header .top-bar-container .logo-portal img{
        height: 9.8rem;
    }
    
    .page-header .top-bar-container .logo-sp img{
        height: 7.4rem;
    }
    
    .page-header .top-bar-container{
        max-width: 1100px;
        width: 90%;
        margin-bottom: 2.5rem;
    }
    
    .page-header .header-content{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .page-header .header-content .info h2 {
        max-width: 420px;
        font-size: 2.3rem;
    }
    
    .page-header .header-content .info a p{
        font-size: 2.1rem;
    }

    .page-header .header-content .access-location a{
        font-size: 2.5rem;
    }

    .page-image img{
        margin-bottom: 2rem;
    }

    main{
        width: 90%;
    }

    .page-image img{
        margin-top: 0rem;
    }

    .title-page{
        max-width: 1000px;
    }

    .title-page h2{
        font-size: 2.2rem;
    }

    .page-content{
        max-width: 1000px;
        font-size: 2rem;
        height: 1100px;
    }

    .cards{
        width: 28.95rem;
        height: 14rem;
        padding: 2.8rem 2.1rem;
        margin-top: 0rem;
    }

    .cards p{
        font-size: 2.3rem;
    }

    .organizations {
        padding-top: 6.5rem;
        padding-bottom: 2rem;
        padding-right: 4rem;
        padding-left: 4rem;
        margin-top: 10rem;
    }

    .organizations img{
        width: 12rem;
    }

    footer .logo-white{
        width: 16rem;
    }

    footer .prodam-white{
        width: 14rem;
        margin-right: 2rem;
    }

    #page-landing footer{
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
}